asgiref==3.8.1
astroid==3.2.1
colorama==0.4.6
coverage==7.4.4
dill==0.3.8
Django==5.0.4
djangorestframework==3.15.2
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.0
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.4.0
pylint==3.2.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pytest==8.1.1
pytest-cov==5.0.0
pytest-django==4.8.0
sqlparse==0.5.0
tomlkit==0.12.5
tzdata==2024.1
